<div fxLayout="column" fxLayoutAlign="center">
  <ul fxLayout="column" class="navigation-menu">
    <li>
      <p>412 W 7th ST STE 707 Clovis, NM, 88101 United States</p>
    </li>
    <li>
      <ul fxLayout="row" class="social-links" fxLayoutAlign="center center">
        <li style="padding: 10px">
          <a
            href="https://wa.me/59177909950"
            target="_blank"
            rel="noopener noreferrer"
          >
            <mat-icon svgIcon="whatsapp"></mat-icon>
          </a>
        </li>
        <li style="padding: 10px">
          <a
            href="https://www.instagram.com/fazuuper?igsh=ang5dDQxN3Z2cDBy"
            target="_blank"
            rel="noopener noreferrer"
          >
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <p>© 2024 Fazuuper LLC Consultoring Inc.</p>
    </li>
  </ul>
</div>
