<section class="flex-container">
  <div fxLayout="column">
    <div class="row">
      <h1 class="section-title">Welcome to Fazuuper LLC Consultoring Inc.</h1>
    </div>

    <div fxLayout="row" class="row card-row">
      <mat-card>
        <mat-card-content>
          <h1>Why Fazuuper?</h1>
          <p>
            We are specialized in working on cases of countries in crisis
            situations, giving financial advice on how to operate in these
            countries. This financial advices are also accompanied by several
            courses of different apps and exchange methods that might be useful
            for these times. Everything you want to know about economics and
            investments anywhere at any time. Fazuuper LLC.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <img mat-card-image src="assets/images/imagen-empresa.jpg" />
        </mat-card-content>
      </mat-card>
    </div>

    <div class="row">
      <h1 class="section-title">Our Pricing Plans</h1>
    </div>

    <div fxLayout="row" class="row card-row">
      <mat-card class="pricing-plan silver-plan">
        <mat-card-content>
          <h1>Essential</h1>
          <h3>Price</h3>
          <h1>$us 30/Week</h1>
          <ul fxLayout="row" fxLayoutGap="10px" class="check-list">
            <li fxLayout="row" fxLayoutAAlign="center center">
              <mat-icon>check-list</mat-icon>
              <p>Most important reports about the world economy updated</p>
            </li>
            <li fxLayout="row" fxLayoutAAlign="center center">
              <mat-icon>check-list</mat-icon>
              <p>
                Interpretation of these reports and how they affect the economy
              </p>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>

      <mat-card class="pricing-plan gold-plan">
        <mat-card-content>
          <h1>Premium</h1>
          <h3>Price</h3>
          <h1>$us 50/Week</h1>
          <ul fxLayout="row" class="check-list">
            <li fxLayout="row" fxLayoutAAlign="center">
              <p>Includes everything from Essential and:</p>
            </li>
            <li fxLayout="row" fxLayoutAAlign="center center">
              <mat-icon style="padding-right: 6px">check-list</mat-icon>
              <p class="check-list-item">
                Development of predictive econometric models based on financial
                reports
              </p>
            </li>
            <li fxLayout="row" fxLayoutAAlign="center center">
              <mat-icon>check-list</mat-icon>
              <p class="check-list-item">
                Support for financial apps and questions 24/7
              </p>
            </li>
            <li fxLayout="row" fxLayoutAAlign="center center">
              <mat-icon>check-list</mat-icon>
              <p class="check-list-item">Customized market research</p>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" flex>
    <button mat-button class="create-button" (click)="openCreateCompanyModal()">
      <h3 class="section-subtitle">Consult Now</h3>
    </button>
  </div>
</section>
