@import 'styles/colors';

.navigation-menu {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover,
a:active {
  color: #dbcde6;
}

.mat-toolbar {
  background-color: $primary;
}

.brandName {
  padding-left: 400px;
  font-size: x-large;
  font-weight: 1000;
}
